#description {
    height: 5rem;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    padding: 0.25rem .5rem;
    text-decoration: none;
    border: 2px solid #ce4f4f;
    background-color: azure;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    cursor: pointer;

    background-color: #ce4f4f;

    transition: all 150ms ease-in-out;
}
