* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3rem;
    padding: 5px;
    background-color: #ce4f4f;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    position: relative;
}

.main-header__list img {
  height: 1.3rem;
  width: 1.3rem;
  padding: 0;
  bottom: .6rem;
  margin-left: 2rem;

  position: absolute;
}

.main-header__item {
    margin: 10px 20px; 
}

.main-header__item a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    cursor: pointer;
    color: #ffffff;
}

.btn {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: inline-block;
  padding: 0.25rem .5rem;
  text-decoration: none;
  border: 2px solid #ce4f4f;
  background-color: azure;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
    cursor: pointer;

    background-color: #ce4f4f;

    transition: all 150ms ease-in-out;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: black;
}

#cart:hover img {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1.5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}
