<%- include('../sharedFiles/head.ejs') %>
</head>
<body>
    <%- include('../sharedFiles/navigation.ejs') %>
    <div align="center">
        <h1>Orders page on its way...</h1>
    </div>
<%- include('../sharedFiles/end.ejs') %>