<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create user</title>
</head>
<body>
    <main>
        <form action="/" method="POST">
            <label>Username</label>
            <input type="text" name="username"><br>
            <label>Email</label> 
            <input style="margin: 15px 27px" type="email" name="email"><br>
            <button style="margin: 10px 111px; padding: 8px; border-radius: 8px" type="submit">Login</button>
        </form>
    </main>
    
</body>
</html>